<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.novigrad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RatingEmployes"></activity>
        <activity android:name=".ViewDocumentFilled" />
        <activity android:name=".ViewFormFilled" />
        <activity android:name=".ManageSearch">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".FillDocument">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FillForm" />
        <activity android:name=".SelectServicesForCustomer" /> <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        <!-- #### LIVRABLE 1 START HERE -->
        <!-- Frontpage activity, *** Let's Get Started *** -->
        <activity
            android:name=".Frontpage"
            android:screenOrientation="portrait" /> <!-- Login Activity, *** Login to your account ***** -->
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" /> <!-- Register Activity, *** Create a new Account *** -->
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" /> <!-- Main Activity, Profile Page *** Welcome USER, Your are Connected as ROLE *** -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" /> <!-- #### LIVRABLE 1 END HERE -->
        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        <!-- #### LIVRABLE 2 START HERE -->
        <!-- Administrator Management Activity, *** MANAGE SERVICE or MANAGE ACCOUNT *** -->
        <activity
            android:name=".AdminManagement"
            android:screenOrientation="portrait" /> <!-- Manage Service Activity, CRUD SERVICES *** CREATE, READ, UPDATE, DELETE *** -->
        <activity
            android:name=".ManageService"
            android:screenOrientation="portrait" /> <!-- Document Activity, Add DOCUMENT required for created services -->
        <activity
            android:name=".DocumentActivity"
            android:screenOrientation="portrait" /> <!-- Form Activity, Add FIELD required for created services -->
        <activity
            android:name=".Form"
            android:screenOrientation="portrait" /> <!-- Manage Account Activity, List View and delete Account -->
        <activity
            android:name=".ManageAccount"
            android:screenOrientation="portrait" /> <!-- #### LIVRABLE 2 END HERE -->
        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        <!-- #### LIVRABLE 3 START HERE -->
        <activity
            android:name=".CustomersRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectServices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BranchActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>